{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="offset-3 col-sm-6">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                {% trans_default_domain 'FOSUserBundle' %}

                <div class="form-group">
                    <label for="username" class="">Email </label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                           class="form-control" autocomplete="username"/>
                </div>


                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" class="form-control" name="_password" required="required"
                           autocomplete="current-password"/>
                </div>


                <div class="form-group">
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    <input type="checkbox" id="remember_me" class="form-control" name="_remember_me" value="on"/class="form-control"
                    >
                </div>


                <input type="submit" id="_submit" class="btn btn-primary" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}