{% set bg = '#fff' %}
{% set color = '#000' %}

{% if item.status == 6 %}
    {% set bg = '#636c75' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 0 %}
    {% set bg = '#C4C4C4' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 1 %}
    {% set bg = '#55b9d0' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 2 %}
    {% set bg = '#679DF1' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 3 %}
    {% set bg = '#9867D4' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 4 %}
    {% set bg = '#F0AD5C' %}
    {% set color = '#fff' %}
{% endif %}

{% if item.status == 5 %}
    {% set bg = '#5CC37E' %}
    {% set color = '#fff' %}
{% endif %}

<td class="text-center" style="background: {{ bg }}; color: {{ color }}">
    {{ item.statusText }}
</td>
