{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>


    <div class="row">
        <div class="offset-3 col-sm-6">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}

            <div>
                <small>
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                </small>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}


{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js?render={{ siteKey }}'></script>

    <script>
        $('form').submit(function() {
            event.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ siteKey }}', {action: 'contact'}).then(function(token) {
                    $('form').prepend('<input type="hidden" name="token" value="' + token + '">');
                    $('form').prepend('<input type="hidden" name="action" value="contact">');
                    // submit form now
                    $('form').unbind('submit').submit();
                });
            });
        });
    </script>
{% endblock %}


