// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

//@import "~bootswatch/flatly/variables";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";
//@import "~bootswatch/flatly/bootswatch";
@import "~font-awesome/scss/font-awesome.scss";
@import "~highlight.js/styles/solarized-light.css";
@import "~summernote/dist/summernote.css";

//@import "theme/bootstrap.css";
//@import "theme/bootstrap-extend.css";
//@import "theme/theme.css";



//@import "theme/components-rounded.scss";



// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

body {

  font-family: 'Open Sans', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;

  font-family: 'Roboto', sans-serif;
}

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em
}


footer p {
  color: #7b8a8b;
  font-size: 13px;
  margin-bottom: 0.25em
}

footer #footer-resources {
  text-align: right
}

footer #footer-resources i {
  color: #7b8a8b;
  font-size: 28.5px;
  margin-left: 0.5em
}

.message-block {
  position: relative;
  min-height: 400px;
  height: auto;
  padding: 0 0 50px;
  z-index: 0;
  text-align: center;

  /*background: #292F34 url() no-repeat fixed;*/
}

.message-content {
  position: absolute;
  top: 20%;
  /*width: 100%;*/
  height: 118px;
  /*max-width: 2000px;*/
  left: 0;
  right: 0;
  margin: auto;
  /*padding-top: 20px;*/
}

.message-block h1 {
  z-index: 2;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  position: relative;
  padding: 0;
  /* margin: 150px 0 14px; */
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.message-block h3 {
  z-index: 2;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 42px;
  position: relative;
  padding: 0;
  /* margin: 150px 0 14px; */
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.message-block h1:after {
  display: none;
}

.message-block h1 strong {
  color: #18bbff;
  display: block;
}

.message-block em {
  font: 300 15px "Roboto","Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
  display: block;
}

.home-container {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
  ),
  url('/images/home-bg-3.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;

}
//
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  //line-height: 60px;
  background-color: #f5f5f5;
}
