{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="padding-bottom:200px;">
        <button id="btn-deploy" class="btn btn-primary" data-loading-text="Deploying Now!">
            Deploy
        </button>

        <h2>Git Status:</h2>

        <div id="block-loading" style="display:none;">
            <i class="fas fa-spinner fa-pulse"></i> Deploying
        </div>

        <div id="git-status">
            {% if output %}

                Branch: {{ branch }}

                <pre style="background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px; padding:10px;">
                {{ output }}<br/>
                {{ output2 }}
        </pre>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer="defer" src="{{ asset('build/js/admin.js') }}"></script>

{% endblock %}
