{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Blogs</th>
            <th>Topics</th>
            <th style="width: 125px;"></th>
        </tr>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.name }}
                </td>
                <td>{{ user.dateJoined|date }}</td>
                <td>{{ user.blogs|length }}</td>
                <td>{{ user.topics|length }}</td>
                <td>
                    <a class="btn btn-xs btn-primary" href="{{ path('admin_view_user', {user_id: user.id}) }}">
                        <i class="far fa-edit"></i>
                    </a>

                    <div class="btn btn-xs btn-danger btn-user-delete" data-id="{{ user.id }}">
                        <i class="far fa-trash"></i>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $('.btn-user-delete').on('click', function () {

            let id = $(this).data('id');
            let $this = $(this);

            console.dir('test');

            $.ajax({
                type: "DELETE",
                url: Routing.generate('admin_delete_user', {user_id: id}),

                beforeSend: function () {
                },
                error: function () {
                },
                success: function (result) {
                    $this.closest('tr').remove();
                }
            });
        });
    </script>
{% endblock %}

