{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <h2>Blogs</h2>

            {% for blog in user.blogs %}
                {{ blog.title }}
            {% endfor %}
        </div>
        <div class="col-6">
            <h2>Topics</h2>

        </div>
    </div>
{% endblock %}
