<table class="table table-hover">
    <thead>
    <tr>
            {% if reordering is defined %}
            <th style="width:50px;"></th>
        {% endif %}
        <th>Title</th>
        <th class="text-center" style="width:175px;">Status</th>
        <th class="text-center" style="width:225px;">Updated</th>
        <th class="text-center" style="width: 175px">Words</th>
        <th class="text-right" style="width:25px;">Options</th>
    </tr>
    </thead>
    <tbody class="sortable">
    {% for blog in blogs %}
        <tr id="blog_{{ blog.id }}">

            {% if reordering is defined %}
                <td>
                    <i class="fal fa-bars handle" style="cursor: move"></i> &nbsp;
                </td>
            {% endif %}

            <td>
                {{ blog.title }}
            </td>

            {{ include('template/status_color.html.twig', {item: blog}) }}

            <td class="text-center">
                {% if blog.dateUpdated %}
                    {{ blog.dateUpdated|date }}
                {% else %}
                    Never
                {% endif %}
            </td>
            <td class="text-center">
                {{ blog.totalWordCount }}
            </td>
            <td class="text-right">

                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fal fa-edit"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('blog_edit', {'blog_id': blog.id}) }}">
                            Edit Blog
                        </a>
                        <a class="dropdown-item" href="{{ path('topic_home', {'blog_id': blog.id}) }}">
                            Topics ({{ blog.topics|length }})
                        </a>
                        <a class="dropdown-item" href="{{ path('blog_preview', {'blog_id': blog.id}) }}">
                            Preview
                        </a>
                        <a class="dropdown-item btn-blog-delete" href="#" data-blog-id="{{ blog.id }}">Delete</a>
                    </div>
                </div>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
