{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <a href="{{ path('blog_home') }}"> Back to Blogs</a><br/>
            <h3>Edit Blog</h3>
        </div>
        <div class="col-6">
            <div class="block-saving pull-right" style="padding: 8px;">
                <small class="blog-saving" style="display:none;">
                    <i class="fas fa-spinner fa-pulse"></i>
                    Saving
                </small>

                <small class="blog-saved" style="display: none;">
                </small>
            </div>

        </div>
    </div>


    <div id="blog-id" data-id="{{ form.vars.value.id }}"></div>

    {{ form_start(form, {method: 'post', attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="" class="">Blog Title
                <small>(Max 50–60 characters)</small>
            </label>

            <div class="input-group">
                {{ form_widget(form.title) }}
                <span id="title-length" class="input-group-addon bg-warning text-center form-control-plaintext"
                      data-min="0" data-max="50" style="width:50px;">
                    {{ form.vars.value.title|length }}
                </span>
            </div>
        </div>


        <div class="form-group col-sm-6">
            <label for="" class="">Focus Keyword
                {#<small>(Max 50–60 characters)</small>#}
            </label>
            {{ form_widget(form.keyword) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="">Meta Description
            <small>(50–300 characters)</small>
        </label>

        <div class="input-group">
            {{ form_widget(form.meta_description) }}
            <span id="meta-length" class="input-group-addon bg-success text-center form-control-plaintext" data-min="50"
                  data-max="300" style="width:50px;">
                {{ form.vars.value.metaDescription|length }}
            </span>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-sm-6">
            Word Count: <span id="word-count">{{ form.vars.value.blogWordCount }}</span><br/>
        </div>
        <div class="col-sm-6">

            <div class="form-group text-center">
                <button class="btn btn-primary pull-right" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Save
                </button>

                <div class="block-saving pull-right" style="padding: 8px;">
                    <small class="blog-saving" style="display:none;">
                        <i class="fas fa-spinner fa-pulse"></i>
                        Saving
                    </small>

                    <small class="blog-saved" style="display: none;">
                    </small>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer="defer" src="{{ asset('build/js/blog.js') }}"></script>
{% endblock %}
