{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('blog_edit') }}">New Article</a>
    <br/><br/>


    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" href="#open">Open</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#published"> Published </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#archived"> Archived </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="open">
            {{ include('blog/_blogs.html.twig', {blogs: draftBlogs, reordering  : true}) }}
        </div>

        <div class="tab-pane fade" id="published">
            {{ include('blog/_blogs.html.twig', {blogs: publishedBlogs}) }}
        </div>

        <div class="tab-pane fade" id="archived">
            {{ include('blog/_blogs.html.twig', {blogs: archivedBlogs}) }}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script defer="defer" src="{{ asset('build/js/blog.js') }}"></script>
{% endblock %}
