{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <a href="{{ path('blog_home') }}" class="btn btn-sm btn-primary"> Back to blogs</a>
            <a href="{{ path('blog_edit', {blog_id: blog.id}) }}" class="btn btn-sm btn-primary"> Edit Blog</a>
            <a href="{{ path('topic_home', {blog_id: blog.id}) }}" class="btn btn-sm btn-primary"> Edit Topics</a>

            <br/><br/>
            Estimate Reading Time: {{ blog.readingTime }}<br/>
            Word Count: {{ blog.totalWordCount }}<br/>
        </div>

        <div class="col-3 text-right">
            <small>
                Paragraphs: {{ results.paragraph_count }}<br>
                Sentences: {{ results.sentence_count }}<br>
                Letters: {{ results.letter_count }}<br>
            </small>
        </div>
        <div class="col-3 text-right">
            <small>
                Speaking Time: {{ results.speaking_time }}<br>
                Flesch Score: {{ results.flesch_kincaid_grade_level }}<br>
                Gunning Fog Score: {{ results.gunning_fog_score }}<br>
            </small>

        </div>
    </div>



    <br/>
    <div style="padding:20mm; border: 1px solid #b3b3b3;">
        <div class="text-center">
            <h2>{{ blog.title }}</h2>
        </div>

        {% if blog.summary %}
            <p>{{ blog.summary|raw }}</p>
        {% endif %}

        {% for topic in blog.topics %}
            <h3>{{ topic.title }}</h3>

            <p>{{ topic.content|raw }}</p>
        {% endfor %}

    </div>


{% endblock %}
