{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="google-site-verification" content="heMbf9WPIXU-lDuqOurCeClMuAGmdmgncI7abm-b9pE" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}Blog Planner</title>
    <meta name="description" content="Easy to use Blog Planning Tool. Seperate your Blog post into distraction free topics">
    {#<link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">#}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <nav class="navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
            <div class="container">
                {#<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-expand-lg">#}

                <a class="navbar-brand" href="{{ path('home') }}">
                    Blog Planner
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        {% if app.user %}

                        {% else %}

                        {% endif %}
                        {#<li class="nav-item">#}
                        {#<a class="nav-link disabled" href="#">Disabled</a>#}
                        {#</li>#}
                        {#<li class="nav-item dropdown">#}
                        {#<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
                        {#<div class="dropdown-menu" aria-labelledby="dropdown09">#}
                        {#<a class="dropdown-item" href="#">Action</a>#}
                        {#<a class="dropdown-item" href="#">Another action</a>#}
                        {#<a class="dropdown-item" href="#">Something else here</a>#}
                        {#</div>#}
                        {#</li>#}
                    </ul>

                    {% if app.user %}

                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('blog_home') }}">Articles <span
                                            class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav nav-item dropdown float-right pull-right">


                                <a class="nav-link dropdown-toggle" href="#"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown09">
                                    <a class="dropdown-item" href="{{ path('account_home') }}">Profile</a>
                                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Log Out</a>
                                </div>
                            </li>
                        </ul>

                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="navbar-nav">
                                <li class="nav nav-item dropdown float-right pull-right">
                                    <a class="nav-link dropdown-toggle" href="#"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                                        <a class="dropdown-item" href="{{ path('admin_users') }}">Users</a>
                                        <a class="dropdown-item" href="{{ path('admin_deploy') }}">Deploy</a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin-right: 20px;">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-success btn-sm nav-link"
                                   href="{{ path('fos_user_registration_register') }}"
                                   style="color:#fff;">
                                    Register
                                </a>
                            </li>
                        </ul>
                    {% endif %}



                    {#<form class="form-inline my-2 my-md-0">#}
                    {#<input class="form-control" type="text" placeholder="Search" aria-label="Search">#}
                    {#</form>#}
                </div>
            </div>

            {##}
            {#<button type="button" class="navbar-toggle"#}
            {#data-toggle="collapse"#}
            {#data-target=".navbar-collapse">#}
            {#<span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>#}
            {#<span class="icon-bar"></span>#}
            {#<span class="icon-bar"></span>#}
            {#<span class="icon-bar"></span>#}
            {#</button>#}
        </nav>

    </header>
{% endblock %}

{% block body_full %}
    <div class="container body-container" style="padding-bottom:20px;">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {#{{ include('default/_flash_messages.html.twig') }}#}

                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}
                        {#{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {#}
                        {#'template': 'blog/about.html.twig',#}
                        {#'sharedAge': 600,#}
                        {#'_locale': app.request.locale#}
                        {#})) }}#}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container" style="height:auto;">


            {#<div class="row">#}
            <div id="footer-copyright" class="col-md-6">
                <p>&copy; {{ 'now'|date('Y') }} - Blog Planner</p>
            </div>
            {#<div id="footer-resources" class="col-md-6">#}
            {#<p>#}
            {#<a href="https://twitter.com/symfony" title="Symfony Twitter">#}
            {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
            {#</a>#}
            {#<a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">#}
            {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
            {#</a>#}
            {#<a href="https://symfony.com/blog/" title="Symfony Blog">#}
            {#<i class="fa fa-rss" aria-hidden="true"></i>#}
            {#</a>#}
            {#</p>#}
            {#</div>#}
        </div>
        {#</div>#}
    </footer>
{% endblock %}

{% block main_javascripts %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20257410-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-20257410-14');
    </script>

    {% if app.user %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script  src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/common.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
{#<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->#}
</body>
</html>
