{% extends 'base.html.twig' %}

{% block body_full %}
    <div class="container-fluid" style="padding:0; margin-top:-20px;">

        <div class="margin-bottom-40 home-container message-block" data-aos="zoom-out" style="height: 500px;">
            <div class="message-content" style="max-width: 1140px;">
                <h1 style="size: 40px;">
                    <br/><br/>
                    Blog Planner (beta)
                </h1>
                <p style="color: #fff;">

                    Planning and writing a new blog post has never been easier. <br/>
                    Blog Planner allows you to easily create drafts for you next blog post 100% distraction free.

                <div class="padding-top-40">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">
                        Get Started Today
                    </a>
                    <br/>

                </div>
                </p>

            </div>
        </div>
    </div>

    <br/><br/>
    <div class="container">

        <h3>Blog Planner Features</h3>
        <br/>

        <div class="row">
            <div class="col-sm-4">
                <h5>Distraction Free</h5>
                <p>
                    No more distractions from Wordpress. Clean and simple writing, no need to worry about html, or
                    images.
                </p>
            </div>
            <div class="col-sm-4">
                <h5>Blog Topics</h5>
                <p>
                    Each sectino of your blog post is a topic. Each topic has it's own page.
                </p>

            </div>
            <div class="col-sm-4">
                <h5>Preview Mode</h5>
                <p>
                    Easily preview your blog with all the topics combined. We also provide a total word count and
                    estimate reading time.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>


        <div id="app"></div>


        {#<div class="row">#}
        {#<div class="col-sm-4"></div>#}


        {#{% if app.user %}#}
        {#<a href="{{ path('blog_home') }}">Blogs</a><br/>#}
        {#<a href="{{ path('fos_user_security_logout') }}">Log out</a>#}

        {#{% else %}#}

        {#<a href="{{ path('fos_user_security_login') }}">Login</a><br/>#}
        {#<a href="{{ path('fos_user_registration_register') }}">Register</a>#}
        {#{% endif %}#}
        {#</div>#}

    </div>
{% endblock %}

