{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.blog.title }} | {% endblock %}

{% block body %}

{#{{ dump(form.vars) }}#}



    <div class="row">
        <div class="col-6">
            <a href="{{ path('topic_home', {blog_id:form.vars.value.blog.id}) }}"> Back to Topics</a> |
            <a href="{{ path('blog_home') }}"> Back to Blogs</a><br/>

            <h3>Edit Topic</h3>

        </div>
        <div class="col-6">
            <div class="block-saving pull-right" style="padding: 8px;">
                <small class="topic-saving" style="display:none;">
                    <i class="fas fa-spinner fa-pulse"></i>
                    Saving
                </small>

                <small class="topic-saved" style="display: none;">
                </small>
            </div>

        </div>
    </div>



    <div id="blog-id" data-id="{{ form.vars.value.blog.id }}"></div>
    <div id="topic-id" data-id="{{ form.vars.value.id }}"></div>

    {{ form_start(form, {method: 'post', attr: {novalidate: 'novalidate'}}) }}
    {{ form_rest(form) }}

    <div class="row">
        <div class="col-sm-6">
            Word Count: <span id="word-count">{{ form.vars.value.wordCount }}</span><br/>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit">
                    <i class="fal fa-save" aria-hidden="true"></i> Save
                </button>

                <div class="block-saving pull-right" style="padding: 8px;">
                    <small class="topic-saving" style="display:none;">
                        <i class="fas fa-spinner fa-pulse"></i>
                        Saving
                    </small>

                    <small class="topic-saved" style="display: none;">
                    </small>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer="defer" src="{{ asset('build/js/topic.js') }}"></script>
{% endblock %}
