{% extends 'base.html.twig' %}

{% block title %}{{ blog.title }} | {% endblock %}

{% block body %}

    <a href="{{ path('blog_home') }}"> Back to blogs</a>

    <div>

        <h3 style="display: inline-block">{{ blog.title }}</h3>
        <a href="{{ path('blog_edit', {blog_id: blog.id}) }}" class="btn btn-primary btn-sm">edit</a>
        <a href="{{ path('blog_preview', {blog_id: blog.id}) }}" class="btn btn-primary btn-sm">preview</a>
    </div>
    Total Word Count: {{ blog.totalWordCount }}<br/>

    <br/>

    <a class="btn btn-primary" href="{{ path('topic_edit', {'blog_id': blog.id}) }}">New Topic</a>
    <br/><br/>

    <form id="blog" data-id="{{ blog.id }}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>Topic</th>
                <th style="width:125px;">Words</th>
                <th class="text-center" style="width:200px;">Status</th>
                <th style="width:225px;">Last Updated</th>
                <th class="text-right" style="width:100px;">Options</th>
            </thead>
            <tbody class="sortable">
            {% for topic in topics %}
                <tr id="topic_{{ topic.id }}" >
                    <td>
                        <i class="fal fa-bars handle" style="cursor: move"></i> &nbsp;
                    </td>
                    <td>
                        {{ topic.title }}
                    </td>
                    <td>
                        {{ topic.wordCount }}
                    </td>
                    {{ include('template/status_color.html.twig', {item: topic}) }}

                    {#<td>#}
                        {#{{ topic.statusText }}#}
                    {#</td>#}
                    <td>
                        {{ topic.dateUpdated|date }}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('topic_edit', {'blog_id': topic.blog.id, 'topic_id': topic.id}) }}"
                           class="btn btn-primary btn-sm">
                            <i class="far fa-edit"></i>
                        </a>
                        <div href="#" class="btn btn-danger btn-sm btn-topic-delete"
                             data-blog-id="{{ topic.blog.id }} "data-id="{{ topic.id }}">
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer="defer" src="{{ asset('build/js/topic.js') }}"></script>
{% endblock %}
